*.d
.DS_STORE
*.dSYM
.idea
*.o
*.a
*.ko
*.obj
*.elf
minishell


*.ilk
*.map
*.exp

*.gch
*.pch

*.lib
*.la
*.lo

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su
*.idb
*.pdb

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
